<%- include header %>
<div class="archive">
<ul>
    <% var lastYear=0 %>
    <% locals.posts.forEach(function(post, index){ %>
    <% if(lastYear!=post.time.year){ %>
    <li><h3><%= post.time.year %></h3></li>
    <% lastYear=post.time.year } %>

    <li><a href="/<%= post.user %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a><time><%= post.time.day %></time></li>
    <% }) %>
</ul>
</div>
<%- include footer %>